@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- about section -->

<section class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Hakkımızda
                        </h2>
                    </div>
                    <p>
                        Çabuk firması 2023 yılında Adana'da Ali KAYA tarafından kuruldu. Kuruluşunun ardından kısa sürede başarılı bir firma haline geldi ve hızla büyümeye başladı. Misyonları, müşterilerine hızlı , hesaplı ürünler sunmak, vizyonları ise sektöründe lider olmak ve müşteri memnuniyetini en üst düzeyde tutmaktır.
                        Çabuk firması müşteri memnuniyetini ön planda tutarak çalışmaktadır. Müşteriler, firma ile iletişime geçmek için web sitesinde yer alan iletişim bilgilerini kullanabilirler.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
