
@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="main">

    

    

    <div class="w3-container">
        <p> Admin Paneli Ana Sayfa</p>
    </div>

</div>

